 <footer>
    <div class="f-info"></div>
    <div class="f-info-socials">
        <a href="/"><i class="fa-brands fa-facebook"></i></a>
        <a href="/"><i class="fa-brands fa-twitter "></i></a>
        <a href="/"><i class="fa-brands fa-instagram "></i></a>
        <a href="/"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div> Wanderlust private limited </div>
    <div class="f-info-links">
        <a href="About"> About Us </a> |
        <a href="Contact Us"> Contact Us </a> |
        <a href="Privacy Policy "> Privacy Policy </a> |
        <a href="Terms of service "> Terms of Service </a>
    </div>

 </footer>